body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-navbar {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d9d9d9;
  overflow: hidden;

}

.top-navbar a {
  float: center;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.bottom-navbar {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background-color: rgb(220, 220, 220);
  color: white;
  text-align: center;  
}

.bottom-navbar a {
  float: center;
  color: #000000;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  outline-width: 1px;
  outline-style: solid;
  padding: 5px;
  border-radius: 5px;
}
