.appContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.mainContent {
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 60px 20px;
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
}
